@import url('https://fonts.cdnfonts.com/css/florida-project');

body {
    font-family: 'Florida Project', Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: navy;
}

h1 {
    color: #332;
    text-align: center;
    margin-top: 20px;
}

h2 {
    color: #665;
    text-align: center;
    margin-top: 10px;
    font-size: 28px;
}

.custom-container {
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    margin: 20px auto;
    text-align: center;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    padding-left: 15rem;
}

.dropdown-container {
    margin: 20px 0;
}
